<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>

    <!--example: System.Diagnostics.TraceSwitch myTraceSwitch = new System.Diagnostics.TraceSwitch("SwitchOne", "The first switch");-->
    <!--System.Diagnostics.BooleanSwitch myBooleanSwitch = new System.Diagnostics.BooleanSwitch("SwitchOne", "The first switch");-->
    <!--<system.diagnostics>
        <switches>
            <add name="SwitchOne" value="2" />
        </switches>
    </system.diagnostics>-->
    
    <system.diagnostics>
        <sources>
            <source name="TraceSourceApp" switchName="sourceSwitch" switchType="System.Diagnostics.SourceSwitch">
                <listeners>
                    <add name="console" type="System.Diagnostics.ConsoleTraceListener">
                        <filter type="System.Diagnostics.EventTypeFilter" initializeData="Verbose"/>
                    </add>
                    <!--<add name="myListener"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="sourceSwitch" value="Verbose"/>
        </switches>
        <!--<sharedListeners>
            <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="LogFile.txt">
                <filter type="System.Diagnostics.EventTypeFilter" initializeData="Verbose"/>
            </add>
        </sharedListeners>-->  
    </system.diagnostics>
</configuration>
